/*
  COLORS
---------------------------------
  outer-background #DBDBDB
  inner-background #333333
  inner-inner-background #444444
  yellow #74C6A6
  green ??
  red ??
  text #F5F6F7
*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DBDBDB;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #333333;
  height: 80vh;
  min-width: 1100px;

  border-radius: 50px;
}

@media screen and (max-width: 1100px) {
  .main {
    min-width: unset;
    width: 600px;
  }
}